@import 'normalize';
@import 'header';
@import 'hero';
@import 'burger-modal';
@import 'interior';

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

h1, 
h2, 
h3, 
p {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input {
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    max-width: 1600px;
    margin: auto;
}

.container {
    max-width: 1310px;
    padding: 0 10px;
    padding-left: 70px;
    margin: 0 auto;
}

.symbol {
    position: relative;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 12px;
        height: 12px;
        margin-left: -9px;
        margin-top: -7px;
        transform: rotate(-45deg);
        border-right: 2px solid #FFFFFF;
        border-bottom: 2px solid #FFFFFF;
    }
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: #FFFFFF;
    opacity: 0.4;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}